@import "shared", "header", "fonts";

html {
  height:100%;
  min-width:1000px;
  min-height:600px;
}

body {
  overflow-x:hidden;
  overflow-y:hidden;

  #main_container {
    width:100%;
    height:90%;
    display:block;
    white-space:nowrap;

    .main_container_inner {
      width:50%;
      height:100%;
      white-space:normal;
      display:inline-block;
      vertical-align:top;

      .vertical_align_fix {
        height:100%;
        display:inline-block;
        vertical-align: middle;
      }
    }

    #main_container_inner_left {
      height:100%;
      margin-top:30px;

      #picture_container_outer {
        width:100%;
        height:65%;
        margin-left:-10%;
        display:inline-block;
        vertical-align: middle;
        -moz-transform:rotate(-8deg);
        -webkit-transform:rotate(-8deg);
        -o-transform:rotate(-8deg);
        -ms-transform:rotate(-8deg);

        #picture_container_border {
          height:80%;
          padding:10px;
          background-color:#999;
          border:1px solid #666;

          #picture_container {
            width:100%;
            height:100%;
            overflow:hidden;
            display:block;
            position:relative;
            border:1px solid #666;

            .picture_container_inner {
              position:absolute;
              min-width:700px;

              img {
                width:100%;
              }

              &.hidden {
                display:none;
              }
            } // .picture_container_inner
          } // #picture_container
        } // #picture_container_border
        .picture_container_text {
          width:100%;
          text-align:right;
          color:#333;
          font: 30px 'OxygenRegular', Arial, sans-serif;
        }
      } // #picture_container_outer
    } // .main_container_inner_left

    #main_container_inner_right {
      height:100%;
      text-align: center;
      margin-top:-30px;

      #login_container_outer {
        max-width:400px;
        display:inline-block;
        vertical-align: middle;

        #login_container {
          border:2px solid #777;
          background-color:$medium-blue;
          font: 18px 'PatuaOneRegular', Arial, sans-serif;
          color:#333;
          white-space:nowrap;
          @include corner(5px, 5px, 5px, 5px);
          @include shadow(0px, 0px, 15px, 2px, #aaa);

          .top_message {
            font-size:0;

            div {
              font-size:24px;
              display:inline-block;
              padding: 15px 0px;
              width:33%;
              text-align:center;
              cursor:pointer;
              background-color:$light-blue;
              border-bottom:1px solid #999;

              &.selected {
                background-color:$medium-blue;
                border-bottom:none;
              }

              &:hover {
                background-color:$medium-blue;
              }

              &:active {
                background-color:#AFB5BD;
              }

              &.left {
                border-left:1px solid #999;
                &.shadow {
                  @include shadow(inset 5px, 0px, 15px, -5px, #bbb);
                }
              }
              &.right {
                border-right:1px solid #999;
                &.shadow {
                  @include shadow(inset -5px, 0px, 15px, -5px, #bbb);
                }
              }
            }

            #signup_tab {
              &.selected {
                border-right:1px solid #eee;
              }
            }

            #login_tab {
              &.selected {
                border-right:1px solid #eee;
                border-left:1px solid #eee;
              }
            }
            #facebook_tab {
              &.selected {
                border-left:1px solid #eee;
              }
            }
          } // .top_message

          .auth_tab {
            display:none;
            padding-top:15px;
            white-space:normal;
            margin-top:1px;
            text-align:center;
            width:100%;

            &.selected {
              display:block;
            }

            .signup_fields {
              width:300px;
              display:inline-block;
              text-align:left;

              .signup_form {
                margin:0px;

                div {
                  position:relative;
                  display:inline-block;
                  white-space: nowrap;

                  .error_message {
                    width:0px;
                    overflow:hidden;
                    position:absolute;
                    white-space: nowrap;
                    right:280px;
                    z-index:1000;
                    background-color:#bf3030;
                    font: 18px 'PatuaOneRegular', Arial, sans-serif;
                    border:2px solid #bbb;
                    border-right:none;
                    padding: 8px;
                    color:#fff;
                    @include corner(3px, 0px, 0px, 3px);
                  }

                  input {
                    position:relative;
                    z-index:1001;
                    width:280px;
                    margin:0px 0 15px 0px;
                    padding: 8px;
                    border: 2px solid #bbb;
                    background-color:#fff;
                    font: 18px 'PatuaOneRegular', Arial, sans-serif;
                    color:#333;
                    @include corner(3px, 3px, 3px, 3px);
                    @include shadow(0px, 0px, 10px, 1px, #bbb);

                    &:focus {
                       outline-width: 0;
                       @include shadow(0px, 0px, 10px, 1px, #888);
                    }

                    &.birthday {
                      width:69px;
                      margin-right:12px;
                      display:inline-block;

                      &.last {
                        margin-right:0px;
                      }
                    }

                    &.invalid {
                      @include shadow(0px, 0px, 10px, 1px, #f00);
                    }
                  }
                  // Fix for firefox placeholder color
                  input:-moz-placeholder{
                    color: #999;
                  }

                  .submit {
                    width:125px;
                    color:#eee;
                    border: 2px solid #999;
                    font: 18px 'PatuaOneRegular', Arial, sans-serif;
                    display:inline-block;
                    vertical-align: middle;
                    cursor:pointer;
                    @include shadow(0px, 0px, 10px, 1px, #999);
                    @include corner(5px, 5px, 5px, 5px);
                    @include gradient(#777, #666);

                    &:hover {
                      @include gradient(#595959, #595959);
                      border: 2px solid #888;
                    }
                    &:active {
                      @include gradient(#494949, #494949);
                      border: 2px solid #777;
                    }
                  }

                  .remember_me {
                    margin-left:40px;
                    font-size:16px;
                    white-space:nowrap;
                    display:inline-block;
                    vertical-align: middle;

                    div {
                      cursor:pointer;
                      input {
                        width:12px;
                        height:12px;
                        margin-right:10px;
                        cursor:pointer;
                      }
                    }
                  }
                } // div
              } // .signup_form
            } // .signup_fields

            .facebook_login_button {
              display:inline-block;
              padding: 8px 10px;
              color:#eee;
              background-color:#3B5998;
              cursor:pointer;
              font-size:0;
              border: 1px solid #2F477A;
              @include corner(5px, 5px, 5px, 5px);
              @include shadow(0px, 0px, 10px, 1px, #999);

              div {
                font-size:18px;
                display:inline-block;
                vertical-align:middle;
              }

              .left {
                padding-right:10px;
                height:30px;
              }

              .seperator {
                width:0px;
                height:30px;
                border-left:1px solid #777;
                border-right:1px solid #30487A;
              }
              .right {
                padding:0px 12px 0px 15px;
              }

              &:hover {
                background-color:#35518C;
                @include shadow(0px, 0px, 10px, 1px, #888);
              }

              &:active {
                background-color:#304A82;
                @include shadow(0px, 0px, 10px, 1px, #777);
              }
            }
          } // #signup_container_body

          #facebook_container_body {
            .signup_fields {
              text-align: center;
            }
            .seperator_bottom {
              display:block;
              height:0px;
              margin: 15px 0px;
              border-bottom:1px solid #fff;
              border-top:1px solid #aaa;
            }
            #facebook_disclaimer {
              text-align: left;
              padding:0px 20px;
              font: 18px 'PatuaOneRegular', Arial, sans-serif;
              a {
                text-decoration: underline;
              }
            }
          }

          #login_container_body {
            #forgot_password {
              font-size:12px;
              text-align: right;
              padding-right:10px;
              margin-bottom:15px;
              margin-top:-5px;
            }

            .seperator_bottom {
              display:block;
              height:0px;
              margin: 15px 0px 20px 0px;
              border-bottom:1px solid #fff;
              border-top:1px solid #aaa;
            }
            #login_suggest {
              margin:0 auto;

              #suggest_top_text {
                display:block;
                margin-bottom:15px;
              }

              div {
                display:inline-block;
                vertical-align:middle;
              }

              #suggest_sign_up {
                color:#eee;
                border: 2px solid #999;
                cursor:pointer;
                padding: 8px 10px;
                @include shadow(0px, 0px, 10px, 1px, #999);
                @include corner(5px, 5px, 5px, 5px);
                @include gradient(#777, #666);

                &:hover {
                  @include gradient(#595959, #595959);
                  border: 2px solid #888;
                }
                &:active {
                  @include gradient(#494949, #494949);
                  border: 2px solid #777;
                }
              }

              #suggest_middle {
                padding:10px;
              }

              #suggest_facebook {
                display:inline-block;
                padding: 8px 10px;
                color:#eee;
                background-color:#3B5998;
                cursor:pointer;
                border: 1px solid #2F477A;
                @include corner(5px, 5px, 5px, 5px);
                @include shadow(0px, 0px, 10px, 1px, #999);

                &:hover {
                  background-color:#35518C;
                  @include shadow(0px, 0px, 10px, 1px, #888);
                }

                &:active {
                  background-color:#304A82;
                  @include shadow(0px, 0px, 10px, 1px, #777);
                }
              }
            }
          } // #login_container_body
        } // #login_container

        #disclaimer {
          font-size:12px;
          color:#777;
          margin-top:2%;
        }
      } // #login_container_outer
    } // #main_container_inner_right
  } // #main_container

  #stream_outer {
    position:absolute;
    height:50px;
    top:88%;
    padding:5px 0px;
    border:1px solid #999;
    background-color:#AAA;
    overflow:hidden;
    white-space:nowrap;

    .stream_inner {
      display:inline-block;
      vertical-align: middle;

      img {
        display:inline-block;
        height:50px;
        width:50px;
      }
    }
  }
} // body