<div class="canvas_post">
	<div class="canvas_post_header">
		<div class="header_dp"><img src="#" /></div>
		<div class="header_text">
			<div class="header_name">Nic Barker</div>
			<div class="header_time">Posted 20 Minutes ago</div>
		</div>
	</div>
	<div class="canvas_post_body canvas_post_section">Sample canvas post. Here's my new profile picture!</div>
	<div class="canvas_post_attachment canvas_post_section">
		<img src="#" />
	</div>
	<div class="canvas_post_tags canvas_post_section">
		<div class="post_tag_bubble">Breaking Bad</div><div class="post_tag_bubble">Guitar</div><div class="post_tag_bubble">Cycling</div>
	</div>
	<div class="canvas_qool canvas_post_section">
		<div class="canvas_qool_button">Qool</div>
		<div class="canvas_qool_count">12,599 people think this is Qool.</div>
	</div>
</div>

<div class="canvas_post">
	<div class="canvas_post_header">
		<div class="header_dp"><img src="#" /></div>
		<div class="header_text">
			<div class="header_name">Nic Barker</div>
			<div class="header_time">Posted 60 Minutes ago</div>
		</div>
	</div>
	<div class="canvas_post_body canvas_post_section">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</div>
	<div class="canvas_post_tags canvas_post_section">
		<div class="post_tag_bubble">Random Stuff</div><div class="post_tag_bubble">Other Stuff</div><div class="post_tag_bubble">lolololol</div>
	</div>
	<div class="canvas_qool canvas_post_section">
		<div class="canvas_qool_button">Qool</div>
		<div class="canvas_qool_count">122,599 people think this is Qool.</div>
	</div>
</div>