<h1>{{ user.username }}</h1>
<h3>Comments</h3>
<ul>
{% for i in user.comments %}
    <li>
        <h4>Posted at{{ i.date }}</h4>
        <p>
            {{ i.comments }}
        </p>
    </li>
{% else %}
    <li>NO POST!</li>
{% endfor %}
</ul>
