$dark-blue: #7AB2DE;
$medium-blue: #CFD7E3;
$light-blue: #DCE5F2;

@mixin lightButtonColor() {
  background-color:#F2F8FA;
  cursor:pointer;
  &:hover {
    background-color:#DFE6E8;
  }
  &:active {
    background-color:#D3D9DB;
  }
}

@mixin tabButtonColor() {
  background-color:#DCE5F2;
  cursor:pointer;
  &:hover {
    background-color:#CFD7E3;
  }
  &:active {
    background-color:#AFB5BD;
  }
}

@mixin corner($topLeft, $topRight, $bottomRight, $bottomLeft) {
  -moz-border-radius-topleft: $topLeft;
  -webkit-border-top-left-radius: $topLeft;
  -khtml-border-radius-topleft: $topLeft;
  border-top-left-radius: $topLeft;
  -moz-border-radius-topright: $topRight;
  -webkit-border-top-right-radius: $topRight;
  -khtml-border-radius-topright: $topRight;
  border-top-right-radius: $topRight;
  -moz-border-radius-bottomright: $bottomRight;
  -webkit-border-bottom-right-radius: $bottomRight;
  -khtml-border-radius-bottomright: $bottomRight;
  border-bottom-right-radius: $bottomRight;
  -moz-border-radius-bottomleft: $bottomLeft;
  -webkit-border-bottom-left-radius: $bottomLeft;
  -khtml-border-radius-bottomleft: $bottomLeft;
  border-bottom-left-radius: $bottomLeft;
}

@mixin shadow($leftOffset, $topOffset, $blur, $spread, $color) {
  -moz-box-shadow: $leftOffset $topOffset $blur $spread $color;
  -webkit-box-shadow: $leftOffset $topOffset $blur $spread $color;
  box-shadow: $leftOffset $topOffset $blur $spread $color;
}

@mixin opacity($opacity) {
  /* Theoretically for IE 8 & 9 (more valid) */
  /* ...but not required as filter works too */
  /* should come BEFORE filter */
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=" + ($opacity * 10) + ")";
  /* This works in IE 8 & 9 too */
  /* ... but also 5, 6, 7 */
  filter: alpha(opacity=($opacity * 10));
  /* Older than Firefox 0.9 */
  -moz-opacity:$opacity;
  /* Safari 1.x (pre WebKit!) */
  -khtml-opacity:$opacity;
  /* Modern!
  /* Firefox 0.9+, Safari 2?, Chrome any?
  /* Opera 9+, IE 9+ */
  opacity:$opacity;
}

@mixin gradient($from, $to) {
  background-color: $to;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=$from, endColorstr=$to);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=" + $from + ", endColorstr=" + $to + ")";
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
  background-image: -webkit-linear-gradient(top, $from, $to);
  background-image:    -moz-linear-gradient(top, $from, $to);
  background-image:     -ms-linear-gradient(top, $from, $to);
  background-image:      -o-linear-gradient(top, $from, $to);
}