@import "fonts", "shared";

html {
  height:100%;

  a {
    color:#000;
    text-decoration: none;

    &:active {
      color:#000;
    }

    &:visited {
      color:#000;
    }

    &:hover {
      color:#000;
    }
  }

  body {
    margin:0;
    padding:0;
    font-size:0;
    height:100%;
    background-image:url('/bundles/qiissgeneral/images/Final-Homepage-background.gif');
    background-size: 100%;
    background-repeat:no-repeat;
    padding-bottom:20px;

    #main_container {
      margin-bottom:20px;
      padding:0px 15px 20px 40px;
      font-size:16px;
      text-align:center;

      #search_param_container_outer {
        position:absolute;
        top:110px;
        left:25%;
        padding:5px;
        border:1px solid #aaa;
        display:inline-block;
        background-color:#eee;
        @include corner(5px, 5px, 5px, 5px);
        @include shadow(0px, 0px, 8px, 1px, #666);

        #search_param_container_inner {
          width:698px;
          border:1px solid #aaa;
          background-color:#fff;
          display:inline-block;
          text-align:left;

          #search_param_header {
            padding:7px;
            display: block;
            border-bottom:1px solid #aaa;
            background-color:#7AB2DE;
            font: 20px 'PatuaOneRegular', Arial, sans-serif;
            text-align:center;
            cursor:pointer;

            &:hover {
              background-color:#6D9CC2;
            }
            &:active {
              background-color:#5D84A3;
            }

            .inner_text {
              display:inline-block;
              vertical-align: middle;
            }

            .expand_message {
              font-color:#666;
              font-size:16px;
              display:inline-block;
              vertical-align: middle;
            }
          }

          .search_param_section_header {
            padding:10px;
            font: 16px 'PatuaOneRegular', Arial, sans-serif;
            border-bottom:1px solid #ccc;
            @include lightButtonColor();

            .expand_message {
              font-color:#666;
              font-size:14px;
              float:right;
            }
          }

          .search_param_section_body {
            padding:10px 10px 0px 10px;
            display:block;
            border-bottom:1px solid #ccc;

            .search_param_field_block {
              display:block;
              margin-bottom:10px;

              &.lower {
                margin-top:30px;
              }

              .search_param_field_outer {
                display:inline-block;
                position:relative;
                font: 16px 'OxygenRegular', Arial, sans-serif;

                .search_param_label {
                  position:absolute;
                  z-index:1;
                  left:2px;
                  height:20px;
                  line-height: 20px;
                  top:0px;
                  padding:5px;
                  border: 2px solid #ccc;
                  border-bottom:none;
                  background-color: #BF3030;
                  @include corner(5px, 5px, 0px, 0px);
                }

                .search_param_field {
                  position:relative;
                  z-index:2;
                  display:inline-block;
                  padding:8px;
                  margin:0px 10px 0px 0px;
                  border: 2px solid #ccc;
                  font-size:18px;
                  @include corner(0px, 5px, 5px, 5px);

                  &:focus {
                    outline-width: 0px;
                  }
                } // .search_param_field
              } // .search_param_field_outer
            } // . search_param_field_block
          } // .search_param_section_body

          #search_param_submit_outer {
            text-align:right;
            margin-top:10px;
            padding:0px 19px 10px 0px;

            #search_param_submit_inner {
              display:inline-block;
              vertical-align:middle;
              font-size:18px;
              padding:6px 14px;
              border:1px solid #ccc;
              background-color:#7AB2DE;
              padding: 5px 18px;
              cursor:pointer;
              font: 16px 'OxygenRegular', Arial, sans-serif;
              @include corner(5px, 5px, 5px, 5px);

              &:hover {
                background-color:#6697BD;
              }

              &:active {
                background-color:#407BA8;
              }
            } // #search_param_submit
          } // #search_param_submit_outer
        } // #search_param_container_inner
      } // #search_param_container_outer

      #search_results_outer {
        top:50px;
        position:relative;
        z-index:-1000;
        margin-bottom:20px;

        .search_result {
          float:left;
          width:312px;
          overflow:hidden;
          font-size:0;
          margin:3px 0px;
          border:1px solid #999;
          background-color:#fff;

          .result_dp_section {
            padding:5px;
            border-bottom:1px solid #ccc;

            img {
              width:300px;
            }
          }

          .result_name_section {
            font: 20px 'PatuaOneRegular', Arial, sans-serif;
            color:#000;
            display:inline-block;
            width:100%;

            .result_name_username {
              margin:5px 5px 5px 10px;
              float:left;
            }
            .result_name_age {
              margin:5px 10px 5px 5px;
              float:right;
            }
          }
        }
      }
    } // #main_container
    .dropdown {
      position: absolute;
      height: 191px;
      width:276px;
      overflow: auto;
      background: #fff;
      border: 2px solid #ccc;
      font: 16px 'PatuaOneRegular', Arial, sans-serif;
      z-index: 1003;
      margin: 0;
      @include corner(0px, 0px, 5px, 5px);

      .ajax_loader_div {
        position:absolute;
        width:100%;
        top:20px;
        text-align:center;
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          cursor: pointer;
          padding: 8px;
          border-bottom:1px solid #bbb;

          div {
            display:inline-block;
            margin-right:5px;
          }

          .predict_name_one {
            margin-right:0px;
          }

          &:hover {
            background: #7AB2DE;
            color: #333;
          }
        } // li
      } // ul
    } // .dropdown

    #footer {
      height:30px;
      width:100%;
    }
  } // body
} // html