#upper_top_banner {
  width:100%;
  height:50px;
  position:relative;
  background-color:#ddd;
  border-bottom: 2px solid #666;
  text-align:right;
  font-size:0;

  div {
    display:inline-block;
    vertical-align:middle;
    padding: 7px 7px;

    a {
      font: 18px 'PatuaOneRegular', Arial, sans-serif;
      color:#444;
      text-decoration:none;
      padding:0px 10px;

      &:hover {
        color:#666;
      }

      &:active, &:focus {
        color:#888;
      }
    }
  }

  img {
    display:inline-block;
    vertical-align:middle;
    cursor:pointer;
    padding:0px 4px;
  }

  #dates_icon {
    img {
      height:35px;
    }
  }
  #messages_icon {
    img {
      height:20px;
    }
  }
  #notifications_icon {
    margin-right:5px;

    img {
      height:25px;
    }
  }

  #logout_div {
    position:absolute;
    bottom:-50px;
    right:0px;
    font: 16px 'OxygenRegular', Arial, sans-serif;

    div {
      display:inline-block;
      vertical-align:middle;
    }
    #logout_div_profile {
      color:#333;
    }
    #logout_div_seperator {
      height:25px;
      width:0px;
      border-left:1px solid #ddd;
      border-right:1px solid #999;
      padding:0;
    }
    #logout_div_button {

      a {
        font: 16px 'OxygenRegular', Arial, sans-serif;
        cursor:pointer;
        color:#aaa;
        padding:0px;
      }
    }
  } // #logout_div

  .popup {
    position:absolute;
    z-index:1000;
    display:none;
    top:50px;
    width:340px;
    background-color:#fff;
    border-right:2px solid #666;
    border-bottom:2px solid #666;
    border-left:2px solid #666;
    border-top:2px solid #bbb;
    padding:0;
    @include corner(0px, 0px, 5px, 5px);

    .popup_header {
      display:block;
      text-align:left;
      background-color:#ddd;
      border-bottom:1px solid #bbb;
      font: 16px 'OxygenRegular', Arial, sans-serif;
    }

    .popup_content {
      height:300px;
      overflow-y:scroll;
      padding:0px;
      display:block;

      .popup_item {
        display:block;
        text-align:left;
        padding:5px;
        border-bottom:1px solid #ccc;
        font: 14px 'OxygenRegular', Arial, sans-serif;

        div, img {
          padding:0;
          display:inline-block;
          vertical-align:middle;
        }

        .popup_item_dp {
          margin-right:10px;
        }

        .popup_item_content {

          div {
            display:block;
          }

          .popup_item_time {
            margin-top:5px;
            color:#666;
            font-size:12px;
          }
        }
      }
    }
  } // .popup
  #notifications_popup {
    right:100px;
  }

  #messages_popup {
    right:150px;
  }

  #dates_popup {
    right:200px;
  }
} // #upper_top_banner

#lower_top_nav {
  font-size:0;
  position:relative;
  display:inline-block;
  vertical-align:top;
  background-color:#ddd;
  border-right:1px solid #666;
  border-bottom:1px solid #666;
  margin-left:-1px;
  text-align:center;
  @include corner(0px, 0px, 10px, 0px);

  a {
    color:#333;

    &:visited {
      text-decoration: none;
      color:#333;
    }

    div {
      font: 16px 'OxygenRegular', Arial, sans-serif;
      display:inline-block;
      padding: 10px;
      text-align:center;
      cursor:pointer;
      border:none;
      @include tabButtonColor();

      &#nav_settings {
        @include corner(0px, 0px, 10px, 0px);
      }

      &.selected {
        @include lightButtonColor();
      }

      &.left {
        border-left:1px solid #999;
      }
      &.left-shadow {
       @include shadow(inset 5px, 0px, 15px, -5px, #bbb);
      }
      &.right {
        border-right:1px solid #999;
      }
      &.right-shadow {
        @include shadow(inset -5px, 0px, 15px, -5px, #bbb);
      }
    } // div
  } // a
} // #lower_top_nav

#lower_top_banner {
  width:225px;
  height:70px;
  position:relative;
  display:inline-block;
  margin-left:50px;
  margin-top:-2px;
  background-color:#ddd;
  border:2px solid #666;
  border-top:none;
  text-align:center;
  @include corner(0px, 0px, 30px, 30px);

  img {
    width:90%;
    margin-top:-15%;
  }
} // #lower_top_banner