@import "shared", "fonts";

body {
  text-align: center;

  .faq_main_border {
    display:inline-block;
    margin:50px auto;
    padding:10px;
    background:#CFD7E3;
    border:1px solid #aaa;
    @include corner(8px, 8px, 8px, 8px);

    .faq_main {
      border:1px solid #aaa;

      .header {
        background:#eee;
        border-bottom:1px solid #aaa;
        padding:15px;

        img {
          display:inline-block;
          vertical-align:middle;
          width:200px;
          padding-right:30px;
        }

        .seperator {
          display:inline-block;
          vertical-align:middle;
          height:90px;
          width:0px;
          border-left:1px solid #999;
          border-right:1px solid #fff;
          @include shadow(0px, 0px, 10px, 1px, #cecece);
        }

        .inner {
          display:inline-block;
          vertical-align:middle;
          text-align: center;
          padding:20px;
          font: 45px 'PatuaOneRegular', Arial, sans-serif;
          color:#333;
        }
      }

      .section {
        font: 18px 'PatuaOneRegular', Arial, sans-serif;

        .section_header {
          background:#dedede;
          color:#333;
          border-bottom:1px solid #aaa;
          padding:15px;
          cursor:pointer;

          &:hover {
            background:#cecece;
          }
        }

        .section_body {
          background:#f5f5f5;
          padding:15px 20px 15px 20px;
          font: 16px/20px 'OxygenRegular', Arial, sans-serif;
          color:#444;
        }
      }
    }
  }
}