@import "shared", "fonts";

html {
  height:100%;

  body {
  margin:0;
  padding:0;
  font-size:0;
  height:100%;
  background-image:url('/bundles/qiissgeneral/images/Final-Homepage-background.gif');
  background-size: 100%;
  background-repeat:no-repeat;

    #main_container {
      display:block;
      text-align:center;
      margin-top:10px;
      padding-bottom:40px;

      #propose_date_main_border {
        display:inline-block;
        padding:10px;
        background:#CFD7E3;
        border:1px solid #aaa;
        font-size:0;
        @include corner(8px, 8px, 8px, 8px);

        #propose_date_main_header {
          background-color:#7AB2DE;
          border:1px solid #aaa;
          border-bottom:none;

          #center_text {
            display:inline-block;
            vertical-align: middle;
            font: 40px/48px 'Lobster13Regular', Arial, sans-serif;letter-spacing: 0;
            padding:10px;
            margin:0px 166px;
          }

          .header_picture_image {
            display:inline-block;
            vertical-align: middle;
            width:190px;
            height:190px;
            border:1px solid #ccc;
            margin:10px;
            cursor:pointer;
          }
        }

        #propose_date_main_left {
          background-color:#fff;
          display:inline-block;
          vertical-align: top;

          .content_header {
            border-right:none;
          }
          .content_block {
            border-right:none;
          }
        } // #propose_date_main_left

        .propose_date_main_right {
          display:inline-block;
        }

        .section_container {

          .header {
            background:#eee;
            border:1px solid #aaa;
            cursor:pointer;

            &:hover {
              background-color:#cecece;
            }

            &:active {
              background-color:#bbb;
            }

            .inner {
              display:inline-block;
              vertical-align:middle;
              text-align: center;
              padding:15px;
              font: 18px 'PatuaOneRegular', Arial, sans-serif;
              color:#333;
            }
          } // .header

          .section {
            font: 18px 'PatuaOneRegular', Arial, sans-serif;

            .section_body {
              font: 16px 'OxygenRegular', Arial, sans-serif;
              color:#444;
              text-align: right;

              .content {
                width:500px;

                .content_header {
                  background:#f5f5f5;
                  border:1px solid #aaa;
                  border-top:none;
                  text-align: center;
                  padding:10px;
                  font: 18px 'PatuaOneRegular', Arial, sans-serif;
                  color:#333;
                  cursor:pointer;

                  &:hover {
                    background-color:#cecece;
                  }

                  &:active {
                    background-color:#bbb;
                  }
                } // .content_header
                .content_block {
                  position:relative;
                  background-color:#fff;
                  border:1px solid #aaa;
                  border-top:none;
                  text-align:left;
                  padding:20px;

                  .error_message {
                    width:0px;
                    overflow:hidden;
                    position:absolute;
                    white-space: nowrap;
                    right:240px;
                    z-index:1000;
                    background-color:#bf3030;
                    font: 18px 'PatuaOneRegular', Arial, sans-serif;
                    border:2px solid #bbb;
                    border-right:none;
                    padding: 8px;
                    color:#fff;
                    @include corner(3px, 0px, 0px, 3px);
                  }

                  &.calender_block {
                    text-align:center;
                  }

                  input {
                    position:relative;
                    width:260px;
                    z-index:1001;
                    padding: 8px;
                    border: 2px solid #bbb;
                    font: 18px 'PatuaOneRegular', Arial, sans-serif;
                    color:#333;
                    @include corner(3px, 3px, 3px, 3px);
                    @include shadow(0px, 0px, 10px, 1px, #bbb);

                    &:focus {
                       outline-width: 0;
                       @include shadow(0px, 0px, 10px, 1px, #888);
                    }

                    &:-moz-placeholder{
                      color: #999;
                    }
                  } // input

                  #date_description {
                    width:438px;
                    height:150px;
                    resize:none;
                    overflow-y:auto;
                    font: 16px 'OxygenRegular', Arial, sans-serif;
                    color:#444;
                    text-align:left;
                    @include corner(3px, 3px, 3px, 3px);

                    &:focus {
                       outline-width: 0;
                       @include shadow(0px, 0px, 10px, 1px, #888);
                    }
                  } // textarea

                  #date_time {
                    display:none;

                    select {
                      -webkit-appearance: none;
                      padding:8px 10px;
                      border-color:#aaa;
                      cursor:pointer;
                      text-align: center;
                      @include corner(5px, 5px, 5px, 5px);
                      @include gradient(#eee, #ccc);

                      &:hover {
                        @include gradient(#ddd, #bbb);
                        border-color: #888;
                      }
                      &:active {
                        @include gradient(#ccc, #aaa);
                        border-color: #777;
                      }
                      &:focus {
                       outline-width: 0;
                      }
                    } // select
                  } // .date_time

                  #date_date {
                    display:none;
                  }

                  .calendar {
                    margin-bottom:15px 0px;

                    .calendar_header {
                        font: 17px 'PatuaOneRegular', Arial, sans-serif;
                        width:454px;
                        background:#ddd;
                        padding:10px 0px;
                        border:1px solid #999;
                        border-bottom:none;
                        @include corner(10px, 10px, 0px, 0px);

                      div {
                        display:inline-block;
                        vertical-align: middle;
                      }

                      .hidden_header_month, .hidden_header_year {
                        display:none;
                      }

                      .calendar_header_left {
                        width:20%;
                        font: 14px 'PatuaOneRegular', Arial, sans-serif;
                        color:#888;

                        &:hover {
                          color:#666;
                        }
                        &:active {
                          color:#444;
                        }
                      }

                      .current_month {
                        width:50%;
                      }
                      .calendar_header_right {
                        width:20%;
                        font: 14px 'PatuaOneRegular', Arial, sans-serif;
                        color:#888;

                        &:hover {
                          color:#666;
                        }
                        &:active {
                          color:#444;
                        }
                      }
                    }
                    table {
                      width:400px;
                      table-layout:fixed;
                      border-collapse:collapse;
                      border-right:1px solid #999;
                      border-top:1px solid #999;

                      tbody {

                        tr {

                          td, th {
                            width:40px;
                            border-left:1px solid #999;
                            border-bottom:1px solid #999;
                            text-align:center;
                            padding:8px 12px;
                          }

                          th {
                            background:#7AB2DE;
                            color:#333;
                            font: 16px 'PatuaOneRegular', Arial, sans-serif;
                          }

                          td {
                            cursor:pointer;

                            &.today {
                              color:#FF0000;
                            }

                            &.selected {
                              background-color:#7AB2DE;
                              &:hover {
                              background:#66A3D4;
                              }
                              &:active {
                                background:#5998C9;
                              }
                            } // .today
                            &:hover {
                              background:#eee;
                            }
                            &:active {
                              background:#ddd;
                            }
                          }

                          .other-month {
                            background:#eee;
                            &:hover {
                              background:#ddd;
                            }
                            &:active {
                              background:#ccc;
                            }
                          }
                        } // th
                      } // tbody
                    } // table
                  } // #calender

                  #calendar_one_month, #calendar_two_month {
                    display:none;
                  }

                  #calendar {
                    .calendar_header_right {
                      cursor:pointer;
                    }
                  }

                  #calendar_one_month {
                    .calendar_header_right {
                      cursor:pointer;
                    }
                    .calendar_header_left {
                      cursor:pointer;
                    }
                  }

                  #calendar_two_month {
                    .calendar_header_left {
                      cursor:pointer;
                    }
                  }
                  .content_upper_text {
                    margin-bottom:20px;
                  }
                  .content_lower_text {
                    margin-top:20px;
                  }

                  #time_picker_container {
                    margin-top:20px;
                  }

                  #message_box {
                    padding:0px;

                    #message_box_inner {
                      display:block;
                      height:230px;
                      width:100%;
                      overflow-y:scroll;
                      border-bottom:1px solid #999;
                      padding:0px;

                      .message {
                        display:block;
                        padding:10px;
                        border-bottom:1px solid #ddd;

                        &#sample_message {
                          color:#999;
                          border-bottom:1px solid #999;
                        }
                      }
                    }

                    #message_box_lower {
                      display:inline-block;
                      padding:20px;
                      font-size:0;

                      form {

                        textarea {
                          width:438px;
                          padding:8px;
                          resize:none;
                          overflow-y:auto;
                          border: 2px solid #bbb;
                          font: 16px 'OxygenRegular', Arial, sans-serif;
                          color:#333;
                          @include corner(3px, 3px, 0px, 3px);

                          &:focus {
                             outline-width: 0;
                             border-color:#999;
                          }
                        }

                        #message_box_submit_outer {
                          text-align:right;

                          #message_box_submit {
                            width:auto;
                            padding:5px 10px;
                            border-top:none;
                            font-size:16px;
                            cursor:pointer;
                            @include corner(0px, 0px, 3px, 3px);
                            @include shadow(0px, 0px, 0px, 0px, #bbb);

                            &:hover {
                              background-color:#aaa;
                              border-color: #aaa;
                            }
                            &:active {
                              background-color:#999;
                              border-color: #888;
                            }
                          }
                        }
                      } // form
                    } // #message_box_lower
                  } // #message_box
                } // .content_block

                #message_block {
                  padding:0px;
                }
              } // .content
            } // .section_body
          } // .section
        } // .section_container
      } // #propose_date_main_border
    } // #main_container
  } // body
} // html