@font-face {
  font-family: 'PatuaOneRegular';
  src: url("/bundles/qiissgeneral/fonts/PatuaOne-Regular-webfont.eot");
  src: url("/bundles/qiissgeneral/fonts/PatuaOne-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/bundles/qiissgeneral/fonts/PatuaOne-Regular-webfont.woff") format("woff"), url("/bundles/qiissgeneral/fonts/PatuaOne-Regular-webfont.ttf") format("truetype"), url("/bundles/qiissgeneral/fonts/PatuaOne-Regular-webfont.svg#PatuaOneRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OxygenRegular';
  src: url("/bundles/qiissgeneral/fonts/Oxygen-webfont.eot");
  src: url("/bundles/qiissgeneral/fonts/Oxygen-webfont.eot?#iefix") format("embedded-opentype"), url("/bundles/qiissgeneral/fonts/Oxygen-webfont.woff") format("woff"), url("/bundles/qiissgeneral/fonts/Oxygen-webfont.ttf") format("truetype"), url("/bundles/qiissgeneral/fonts/Oxygen-webfont.svg#OxygenRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lobster13Regular';
  src: url("/bundles/qiissprofile/fonts/Lobster_1.3-webfont.eot");
  src: url("/bundles/qiissprofile/fonts/Lobster_1.3-webfont.eot?#iefix") format("embedded-opentype"), url("/bundles/qiissprofile/fonts/Lobster_1.3-webfont.woff") format("woff"), url("/bundles/qiissprofile/fonts/Lobster_1.3-webfont.ttf") format("truetype"), url("/bundles/qiissprofile/fonts/Lobster_1.3-webfont.svg#Lobster13Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

.time-picker {
  position: absolute;
  height: 191px;
  width: 276px;
  overflow: auto;
  background: #fff;
  border: 2px solid #bbb;
  border-top: none;
  font: 16px 'PatuaOneRegular', Arial, sans-serif;
  z-index: 1003;
  margin: 0;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  -khtml-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  -khtml-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -khtml-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -khtml-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px; }
  .time-picker ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .time-picker ul li {
      cursor: pointer;
      padding: 8px;
      border-bottom: 1px solid #bbb; }
      .time-picker ul li.selected {
        background: #7AB2DE;
        color: #333; }
