/*
Syntax error: Invalid CSS after "...       padding:": expected expression (e.g. 1px, bold), was "}"
        on line 403 of scss/viewDate.scss

398:                             display:block;
399:                           }
400: 
401:                           .message_content {
402:                             padding:
403:                           }
404:                         }
405: 
406:                         &#sample_message {
407:                           color:#999;
408:                           border-bottom:1px solid #999;

Backtrace:
scss/viewDate.scss:403
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:1130:in `expected'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/script/lexer.rb:199:in `expected!'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/script/parser.rb:471:in `assert_expr'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/script/parser.rb:49:in `parse'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:1005:in `sass_script'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:865:in `value!'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:842:in `declaration'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:565:in `block in declaration_or_ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `call'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `rethrow'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:575:in `declaration_or_ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:537:in `block_child'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:526:in `block_contents'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:518:in `block'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:512:in `ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:574:in `block in declaration_or_ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `call'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `rethrow'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:575:in `declaration_or_ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:537:in `block_child'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:529:in `block_contents'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:518:in `block'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:512:in `ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:574:in `block in declaration_or_ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `call'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `rethrow'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:575:in `declaration_or_ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:537:in `block_child'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:529:in `block_contents'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:518:in `block'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:512:in `ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:574:in `block in declaration_or_ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `call'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `rethrow'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:575:in `declaration_or_ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:537:in `block_child'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:529:in `block_contents'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:518:in `block'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:512:in `ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:574:in `block in declaration_or_ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `call'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `rethrow'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:575:in `declaration_or_ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:537:in `block_child'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:529:in `block_contents'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:518:in `block'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:512:in `ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:574:in `block in declaration_or_ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `call'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `rethrow'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:575:in `declaration_or_ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:537:in `block_child'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:529:in `block_contents'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:518:in `block'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:512:in `ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:574:in `block in declaration_or_ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `call'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `rethrow'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:575:in `declaration_or_ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:537:in `block_child'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:529:in `block_contents'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:518:in `block'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:512:in `ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:574:in `block in declaration_or_ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `call'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `rethrow'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:575:in `declaration_or_ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:537:in `block_child'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:529:in `block_contents'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:518:in `block'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:512:in `ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:574:in `block in declaration_or_ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `call'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `rethrow'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:575:in `declaration_or_ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:537:in `block_child'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:529:in `block_contents'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:518:in `block'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:512:in `ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:574:in `block in declaration_or_ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `call'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `rethrow'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:575:in `declaration_or_ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:537:in `block_child'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:529:in `block_contents'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:518:in `block'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:512:in `ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:574:in `block in declaration_or_ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `call'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `rethrow'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:575:in `declaration_or_ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:537:in `block_child'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:529:in `block_contents'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:518:in `block'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:512:in `ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:574:in `block in declaration_or_ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `call'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `rethrow'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:575:in `declaration_or_ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:537:in `block_child'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:529:in `block_contents'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:518:in `block'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:512:in `ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:574:in `block in declaration_or_ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `call'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `rethrow'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:575:in `declaration_or_ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:537:in `block_child'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:529:in `block_contents'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:518:in `block'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:512:in `ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:574:in `block in declaration_or_ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `call'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `rethrow'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:575:in `declaration_or_ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:537:in `block_child'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:529:in `block_contents'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:518:in `block'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:512:in `ruleset'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:536:in `block_child'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:529:in `block_contents'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:70:in `stylesheet'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/scss/parser.rb:27:in `parse'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/engine.rb:342:in `_to_tree'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/engine.rb:315:in `_render'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/engine.rb:262:in `render'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:340:in `update_stylesheet'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:200:in `each'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:298:in `block in watch'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.5.2/lib/listen/multi_listener.rb:86:in `call'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.5.2/lib/listen/multi_listener.rb:86:in `on_change'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.5.2/lib/listen/multi_listener.rb:95:in `block in initialize_adapter'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.5.2/lib/listen/adapter.rb:196:in `call'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.5.2/lib/listen/adapter.rb:196:in `report_changes'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.5.2/lib/listen/adapter.rb:208:in `poll_changed_dirs'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.5.2/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...       padding:\": expected expression (e.g. 1px, bold), was \"}\"\A         on line 403 of scss/viewDate.scss\A \A 398:                             display:block;\A 399:                           }\A 400: \A 401:                           .message_content {\A 402:                             padding:\A 403:                           }\A 404:                         }\A 405: \A 406:                         &#sample_message {\A 407:                           color:#999;\A 408:                           border-bottom:1px solid #999;"; }
