@font-face {
  font-family: 'PatuaOneRegular';
  src: url("/bundles/qiissgeneral/fonts/PatuaOne-Regular-webfont.eot");
  src: url("/bundles/qiissgeneral/fonts/PatuaOne-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/bundles/qiissgeneral/fonts/PatuaOne-Regular-webfont.woff") format("woff"), url("/bundles/qiissgeneral/fonts/PatuaOne-Regular-webfont.ttf") format("truetype"), url("/bundles/qiissgeneral/fonts/PatuaOne-Regular-webfont.svg#PatuaOneRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OxygenRegular';
  src: url("/bundles/qiissgeneral/fonts/Oxygen-webfont.eot");
  src: url("/bundles/qiissgeneral/fonts/Oxygen-webfont.eot?#iefix") format("embedded-opentype"), url("/bundles/qiissgeneral/fonts/Oxygen-webfont.woff") format("woff"), url("/bundles/qiissgeneral/fonts/Oxygen-webfont.ttf") format("truetype"), url("/bundles/qiissgeneral/fonts/Oxygen-webfont.svg#OxygenRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lobster13Regular';
  src: url("/bundles/qiissprofile/fonts/Lobster_1.3-webfont.eot");
  src: url("/bundles/qiissprofile/fonts/Lobster_1.3-webfont.eot?#iefix") format("embedded-opentype"), url("/bundles/qiissprofile/fonts/Lobster_1.3-webfont.woff") format("woff"), url("/bundles/qiissprofile/fonts/Lobster_1.3-webfont.ttf") format("truetype"), url("/bundles/qiissprofile/fonts/Lobster_1.3-webfont.svg#Lobster13Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  height: 100%; }
  html body {
    margin: 0;
    padding: 0;
    font-size: 0;
    height: 100%;
    background-image: url("/bundles/qiissgeneral/images/Final-Homepage-background.gif");
    background-size: 100%;
    background-repeat: no-repeat; }
    html body #main_container {
      display: block;
      text-align: center;
      margin-top: 10px;
      padding-bottom: 40px; }
      html body #main_container #propose_date_main_border {
        display: inline-block;
        padding: 10px;
        background: #CFD7E3;
        border: 1px solid #aaa;
        font-size: 0;
        -moz-border-radius-topleft: 8px;
        -webkit-border-top-left-radius: 8px;
        -khtml-border-radius-topleft: 8px;
        border-top-left-radius: 8px;
        -moz-border-radius-topright: 8px;
        -webkit-border-top-right-radius: 8px;
        -khtml-border-radius-topright: 8px;
        border-top-right-radius: 8px;
        -moz-border-radius-bottomright: 8px;
        -webkit-border-bottom-right-radius: 8px;
        -khtml-border-radius-bottomright: 8px;
        border-bottom-right-radius: 8px;
        -moz-border-radius-bottomleft: 8px;
        -webkit-border-bottom-left-radius: 8px;
        -khtml-border-radius-bottomleft: 8px;
        border-bottom-left-radius: 8px; }
        html body #main_container #propose_date_main_border #propose_date_main_header {
          background-color: #7AB2DE;
          border: 1px solid #aaa;
          border-bottom: none; }
          html body #main_container #propose_date_main_border #propose_date_main_header #center_text {
            display: inline-block;
            vertical-align: middle;
            width: 575px; }
            html body #main_container #propose_date_main_border #propose_date_main_header #center_text #center_text_top {
              font: 40px/48px "Lobster13Regular", Arial, sans-serif;
              letter-spacing: 0;
              padding: 10px; }
            html body #main_container #propose_date_main_border #propose_date_main_header #center_text #center_text_bottom {
              font: 14px 'OxygenRegular', Arial, sans-serif; }
              html body #main_container #propose_date_main_border #propose_date_main_header #center_text #center_text_bottom .date_accept_buttons {
                display: inline-block;
                vertical-align: middle;
                padding: 5px 0px;
                width: 100px;
                border: 1px solid #999;
                background-color: #EDF4FF;
                cursor: pointer;
                -moz-border-radius-topleft: 5px;
                -webkit-border-top-left-radius: 5px;
                -khtml-border-radius-topleft: 5px;
                border-top-left-radius: 5px;
                -moz-border-radius-topright: 5px;
                -webkit-border-top-right-radius: 5px;
                -khtml-border-radius-topright: 5px;
                border-top-right-radius: 5px;
                -moz-border-radius-bottomright: 5px;
                -webkit-border-bottom-right-radius: 5px;
                -khtml-border-radius-bottomright: 5px;
                border-bottom-right-radius: 5px;
                -moz-border-radius-bottomleft: 5px;
                -webkit-border-bottom-left-radius: 5px;
                -khtml-border-radius-bottomleft: 5px;
                border-bottom-left-radius: 5px; }
                html body #main_container #propose_date_main_border #propose_date_main_header #center_text #center_text_bottom .date_accept_buttons div {
                  display: inline-block;
                  vertical-align: top; }
                html body #main_container #propose_date_main_border #propose_date_main_header #center_text #center_text_bottom .date_accept_buttons.selected {
                  background-color: #D6E6FF;
                  border: 1px solid #555; }
                html body #main_container #propose_date_main_border #propose_date_main_header #center_text #center_text_bottom .date_accept_buttons:hover {
                  background-color: #D6E6FF; }
                html body #main_container #propose_date_main_border #propose_date_main_header #center_text #center_text_bottom .date_accept_buttons:active {
                  background-color: #BFD8FF; }
              html body #main_container #propose_date_main_border #propose_date_main_header #center_text #center_text_bottom img {
                display: inline-block;
                vertical-align: top;
                margin-right: 5px; }
          html body #main_container #propose_date_main_border #propose_date_main_header .header_picture_image {
            display: inline-block;
            vertical-align: middle;
            width: 190px;
            height: 190px;
            overflow: hidden;
            border: 1px solid #ccc;
            margin: 10px;
            cursor: pointer; }
            html body #main_container #propose_date_main_border #propose_date_main_header .header_picture_image img {
              min-width: 190px;
              min-height: 190px; }
        html body #main_container #propose_date_main_border #propose_date_main_left {
          background-color: #fff;
          display: inline-block;
          vertical-align: top; }
          html body #main_container #propose_date_main_border #propose_date_main_left .content_header {
            border-right: none; }
          html body #main_container #propose_date_main_border #propose_date_main_left .content_block {
            border-right: none; }
        html body #main_container #propose_date_main_border .propose_date_main_right {
          display: inline-block; }
        html body #main_container #propose_date_main_border .section_container .header {
          background: #eee;
          border: 1px solid #aaa;
          cursor: pointer; }
          html body #main_container #propose_date_main_border .section_container .header:hover {
            background-color: #cecece; }
          html body #main_container #propose_date_main_border .section_container .header:active {
            background-color: #bbb; }
          html body #main_container #propose_date_main_border .section_container .header .inner {
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            padding: 15px;
            font: 18px 'PatuaOneRegular', Arial, sans-serif;
            color: #333; }
        html body #main_container #propose_date_main_border .section_container .section {
          font: 18px 'PatuaOneRegular', Arial, sans-serif; }
          html body #main_container #propose_date_main_border .section_container .section .section_body {
            font: 16px 'OxygenRegular', Arial, sans-serif;
            color: #444;
            text-align: right; }
            html body #main_container #propose_date_main_border .section_container .section .section_body .content {
              width: 500px; }
              html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_header {
                background: #f5f5f5;
                border: 1px solid #aaa;
                border-top: none;
                text-align: center;
                padding: 10px;
                font: 18px 'PatuaOneRegular', Arial, sans-serif;
                color: #333;
                cursor: pointer; }
                html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_header:hover {
                  background-color: #cecece; }
                html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_header:active {
                  background-color: #bbb; }
              html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block {
                position: relative;
                background-color: #fff;
                border: 1px solid #aaa;
                border-top: none;
                text-align: left;
                padding: 20px; }
                html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block .error_message {
                  width: 0px;
                  overflow: hidden;
                  position: absolute;
                  white-space: nowrap;
                  right: 240px;
                  z-index: 1000;
                  background-color: #bf3030;
                  font: 18px 'PatuaOneRegular', Arial, sans-serif;
                  border: 2px solid #bbb;
                  border-right: none;
                  padding: 8px;
                  color: #fff;
                  -moz-border-radius-topleft: 3px;
                  -webkit-border-top-left-radius: 3px;
                  -khtml-border-radius-topleft: 3px;
                  border-top-left-radius: 3px;
                  -moz-border-radius-topright: 0px;
                  -webkit-border-top-right-radius: 0px;
                  -khtml-border-radius-topright: 0px;
                  border-top-right-radius: 0px;
                  -moz-border-radius-bottomright: 0px;
                  -webkit-border-bottom-right-radius: 0px;
                  -khtml-border-radius-bottomright: 0px;
                  border-bottom-right-radius: 0px;
                  -moz-border-radius-bottomleft: 3px;
                  -webkit-border-bottom-left-radius: 3px;
                  -khtml-border-radius-bottomleft: 3px;
                  border-bottom-left-radius: 3px; }
                html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block.calender_block {
                  text-align: center; }
                html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block input {
                  position: relative;
                  width: 260px;
                  z-index: 1001;
                  padding: 8px;
                  border: 2px solid #bbb;
                  font: 18px 'PatuaOneRegular', Arial, sans-serif;
                  color: #333;
                  -moz-border-radius-topleft: 3px;
                  -webkit-border-top-left-radius: 3px;
                  -khtml-border-radius-topleft: 3px;
                  border-top-left-radius: 3px;
                  -moz-border-radius-topright: 3px;
                  -webkit-border-top-right-radius: 3px;
                  -khtml-border-radius-topright: 3px;
                  border-top-right-radius: 3px;
                  -moz-border-radius-bottomright: 3px;
                  -webkit-border-bottom-right-radius: 3px;
                  -khtml-border-radius-bottomright: 3px;
                  border-bottom-right-radius: 3px;
                  -moz-border-radius-bottomleft: 3px;
                  -webkit-border-bottom-left-radius: 3px;
                  -khtml-border-radius-bottomleft: 3px;
                  border-bottom-left-radius: 3px;
                  -moz-box-shadow: 0px 0px 10px 1px #bbbbbb;
                  -webkit-box-shadow: 0px 0px 10px 1px #bbbbbb;
                  box-shadow: 0px 0px 10px 1px #bbbbbb; }
                  html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block input:focus {
                    outline-width: 0;
                    -moz-box-shadow: 0px 0px 10px 1px #888888;
                    -webkit-box-shadow: 0px 0px 10px 1px #888888;
                    box-shadow: 0px 0px 10px 1px #888888; }
                  html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block input:-moz-placeholder {
                    color: #999; }
                html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block #date_description {
                  width: 438px;
                  height: 150px;
                  resize: none;
                  overflow-y: auto;
                  font: 16px 'OxygenRegular', Arial, sans-serif;
                  color: #444;
                  text-align: left;
                  -moz-border-radius-topleft: 3px;
                  -webkit-border-top-left-radius: 3px;
                  -khtml-border-radius-topleft: 3px;
                  border-top-left-radius: 3px;
                  -moz-border-radius-topright: 3px;
                  -webkit-border-top-right-radius: 3px;
                  -khtml-border-radius-topright: 3px;
                  border-top-right-radius: 3px;
                  -moz-border-radius-bottomright: 3px;
                  -webkit-border-bottom-right-radius: 3px;
                  -khtml-border-radius-bottomright: 3px;
                  border-bottom-right-radius: 3px;
                  -moz-border-radius-bottomleft: 3px;
                  -webkit-border-bottom-left-radius: 3px;
                  -khtml-border-radius-bottomleft: 3px;
                  border-bottom-left-radius: 3px; }
                  html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block #date_description:focus {
                    outline-width: 0;
                    -moz-box-shadow: 0px 0px 10px 1px #888888;
                    -webkit-box-shadow: 0px 0px 10px 1px #888888;
                    box-shadow: 0px 0px 10px 1px #888888; }
                html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block #date_time {
                  display: none; }
                  html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block #date_time select {
                    -webkit-appearance: none;
                    padding: 8px 10px;
                    border-color: #aaa;
                    cursor: pointer;
                    text-align: center;
                    -moz-border-radius-topleft: 5px;
                    -webkit-border-top-left-radius: 5px;
                    -khtml-border-radius-topleft: 5px;
                    border-top-left-radius: 5px;
                    -moz-border-radius-topright: 5px;
                    -webkit-border-top-right-radius: 5px;
                    -khtml-border-radius-topright: 5px;
                    border-top-right-radius: 5px;
                    -moz-border-radius-bottomright: 5px;
                    -webkit-border-bottom-right-radius: 5px;
                    -khtml-border-radius-bottomright: 5px;
                    border-bottom-right-radius: 5px;
                    -moz-border-radius-bottomleft: 5px;
                    -webkit-border-bottom-left-radius: 5px;
                    -khtml-border-radius-bottomleft: 5px;
                    border-bottom-left-radius: 5px;
                    background-color: #cccccc;
                    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=$from, endColorstr=$to);
                    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#eeeeee, endColorstr=#cccccc)";
                    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#cccccc));
                    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
                    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
                    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
                    background-image: -o-linear-gradient(top, #eeeeee, #cccccc); }
                    html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block #date_time select:hover {
                      background-color: #bbbbbb;
                      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=$from, endColorstr=$to);
                      -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#dddddd, endColorstr=#bbbbbb)";
                      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dddddd), to(#bbbbbb));
                      background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
                      background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
                      background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
                      background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
                      border-color: #888; }
                    html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block #date_time select:active {
                      background-color: #aaaaaa;
                      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=$from, endColorstr=$to);
                      -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#cccccc, endColorstr=#aaaaaa)";
                      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cccccc), to(#aaaaaa));
                      background-image: -webkit-linear-gradient(top, #cccccc, #aaaaaa);
                      background-image: -moz-linear-gradient(top, #cccccc, #aaaaaa);
                      background-image: -ms-linear-gradient(top, #cccccc, #aaaaaa);
                      background-image: -o-linear-gradient(top, #cccccc, #aaaaaa);
                      border-color: #777; }
                    html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block #date_time select:focus {
                      outline-width: 0; }
                html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block #date_date {
                  display: none; }
                html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block .calendar {
                  margin-bottom: 15px 0px; }
                  html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block .calendar .calendar_header {
                    font: 17px 'PatuaOneRegular', Arial, sans-serif;
                    width: 454px;
                    background: #ddd;
                    padding: 10px 0px;
                    border: 1px solid #999;
                    border-bottom: none;
                    -moz-border-radius-topleft: 10px;
                    -webkit-border-top-left-radius: 10px;
                    -khtml-border-radius-topleft: 10px;
                    border-top-left-radius: 10px;
                    -moz-border-radius-topright: 10px;
                    -webkit-border-top-right-radius: 10px;
                    -khtml-border-radius-topright: 10px;
                    border-top-right-radius: 10px;
                    -moz-border-radius-bottomright: 0px;
                    -webkit-border-bottom-right-radius: 0px;
                    -khtml-border-radius-bottomright: 0px;
                    border-bottom-right-radius: 0px;
                    -moz-border-radius-bottomleft: 0px;
                    -webkit-border-bottom-left-radius: 0px;
                    -khtml-border-radius-bottomleft: 0px;
                    border-bottom-left-radius: 0px; }
                    html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block .calendar .calendar_header div {
                      display: inline-block;
                      vertical-align: middle; }
                    html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block .calendar .calendar_header .hidden_header_month, html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block .calendar .calendar_header .hidden_header_year {
                      display: none; }
                    html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block .calendar .calendar_header .calendar_header_left {
                      width: 20%;
                      font: 14px 'PatuaOneRegular', Arial, sans-serif;
                      color: #888; }
                      html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block .calendar .calendar_header .calendar_header_left:hover {
                        color: #666; }
                      html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block .calendar .calendar_header .calendar_header_left:active {
                        color: #444; }
                    html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block .calendar .calendar_header .current_month {
                      width: 50%; }
                    html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block .calendar .calendar_header .calendar_header_right {
                      width: 20%;
                      font: 14px 'PatuaOneRegular', Arial, sans-serif;
                      color: #888; }
                      html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block .calendar .calendar_header .calendar_header_right:hover {
                        color: #666; }
                      html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block .calendar .calendar_header .calendar_header_right:active {
                        color: #444; }
                  html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block .calendar table {
                    width: 400px;
                    table-layout: fixed;
                    border-collapse: collapse;
                    border-right: 1px solid #999;
                    border-top: 1px solid #999; }
                    html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block .calendar table tbody tr td, html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block .calendar table tbody tr th {
                      width: 40px;
                      border-left: 1px solid #999;
                      border-bottom: 1px solid #999;
                      text-align: center;
                      padding: 8px 12px; }
                    html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block .calendar table tbody tr th {
                      background: #7AB2DE;
                      color: #333;
                      font: 16px 'PatuaOneRegular', Arial, sans-serif; }
                    html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block .calendar table tbody tr td {
                      cursor: pointer; }
                      html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block .calendar table tbody tr td.today {
                        color: #FF0000; }
                      html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block .calendar table tbody tr td.selected {
                        background-color: #7AB2DE; }
                        html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block .calendar table tbody tr td.selected:hover {
                          background: #66A3D4; }
                        html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block .calendar table tbody tr td.selected:active {
                          background: #5998C9; }
                      html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block .calendar table tbody tr td:hover {
                        background: #eee; }
                      html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block .calendar table tbody tr td:active {
                        background: #ddd; }
                    html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block .calendar table tbody tr .other-month {
                      background: #eee; }
                      html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block .calendar table tbody tr .other-month:hover {
                        background: #ddd; }
                      html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block .calendar table tbody tr .other-month:active {
                        background: #ccc; }
                html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block #calendar_one_month, html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block #calendar_two_month {
                  display: none; }
                html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block #calendar .calendar_header_right {
                  cursor: pointer; }
                html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block #calendar_one_month .calendar_header_right {
                  cursor: pointer; }
                html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block #calendar_one_month .calendar_header_left {
                  cursor: pointer; }
                html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block #calendar_two_month .calendar_header_left {
                  cursor: pointer; }
                html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block .content_upper_text {
                  margin-bottom: 20px; }
                html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block .content_lower_text {
                  margin-top: 20px; }
                html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block #time_picker_container {
                  margin-top: 20px; }
                html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block #message_box {
                  padding: 0px; }
                  html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block #message_box #message_box_inner {
                    display: block;
                    height: 230px;
                    width: 100%;
                    overflow-y: scroll;
                    border-bottom: 1px solid #999;
                    padding: 0px; }
                    html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block #message_box #message_box_inner .message {
                      display: block;
                      padding: 5px;
                      border-bottom: 1px solid #ddd; }
                      html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block #message_box #message_box_inner .message.alternate {
                        background-color: #EDF4FF; }
                      html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block #message_box #message_box_inner .message .message_dp_outer {
                        width: 50px;
                        height: 50px;
                        overflow: hidden;
                        text-align: center;
                        display: inline-block;
                        vertical-align: top;
                        margin-right: 10px; }
                        html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block #message_box #message_box_inner .message .message_dp_outer .message_dp {
                          min-height: 50px;
                          min-width: 50px; }
                      html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block #message_box #message_box_inner .message .message_text {
                        display: inline-block;
                        vertical-align: top;
                        width: 400px; }
                        html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block #message_box #message_box_inner .message .message_text .message_datetime {
                          color: #999;
                          font-size: 12px;
                          display: block;
                          margin-bottom: 10px; }
                      html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block #message_box #message_box_inner .message#sample_message {
                        color: #999;
                        border-bottom: 1px solid #999;
                        padding: 10px; }
                  html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block #message_box #message_box_lower {
                    display: inline-block;
                    padding: 20px;
                    font-size: 0; }
                    html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block #message_box #message_box_lower form textarea {
                      width: 438px;
                      padding: 8px;
                      resize: none;
                      overflow-y: auto;
                      border: 2px solid #bbb;
                      font: 16px 'OxygenRegular', Arial, sans-serif;
                      color: #333;
                      -moz-border-radius-topleft: 3px;
                      -webkit-border-top-left-radius: 3px;
                      -khtml-border-radius-topleft: 3px;
                      border-top-left-radius: 3px;
                      -moz-border-radius-topright: 3px;
                      -webkit-border-top-right-radius: 3px;
                      -khtml-border-radius-topright: 3px;
                      border-top-right-radius: 3px;
                      -moz-border-radius-bottomright: 0px;
                      -webkit-border-bottom-right-radius: 0px;
                      -khtml-border-radius-bottomright: 0px;
                      border-bottom-right-radius: 0px;
                      -moz-border-radius-bottomleft: 3px;
                      -webkit-border-bottom-left-radius: 3px;
                      -khtml-border-radius-bottomleft: 3px;
                      border-bottom-left-radius: 3px; }
                      html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block #message_box #message_box_lower form textarea:focus {
                        outline-width: 0;
                        border-color: #999; }
                    html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block #message_box #message_box_lower form #message_box_submit_outer {
                      text-align: right; }
                      html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block #message_box #message_box_lower form #message_box_submit_outer #message_box_submit {
                        width: auto;
                        padding: 5px 10px;
                        border-top: none;
                        font-size: 16px;
                        cursor: pointer;
                        -moz-border-radius-topleft: 0px;
                        -webkit-border-top-left-radius: 0px;
                        -khtml-border-radius-topleft: 0px;
                        border-top-left-radius: 0px;
                        -moz-border-radius-topright: 0px;
                        -webkit-border-top-right-radius: 0px;
                        -khtml-border-radius-topright: 0px;
                        border-top-right-radius: 0px;
                        -moz-border-radius-bottomright: 3px;
                        -webkit-border-bottom-right-radius: 3px;
                        -khtml-border-radius-bottomright: 3px;
                        border-bottom-right-radius: 3px;
                        -moz-border-radius-bottomleft: 3px;
                        -webkit-border-bottom-left-radius: 3px;
                        -khtml-border-radius-bottomleft: 3px;
                        border-bottom-left-radius: 3px;
                        -moz-box-shadow: 0px 0px 0px 0px #bbbbbb;
                        -webkit-box-shadow: 0px 0px 0px 0px #bbbbbb;
                        box-shadow: 0px 0px 0px 0px #bbbbbb; }
                        html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block #message_box #message_box_lower form #message_box_submit_outer #message_box_submit:hover {
                          background-color: #aaa;
                          border-color: #aaa; }
                        html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block #message_box #message_box_lower form #message_box_submit_outer #message_box_submit:active {
                          background-color: #999;
                          border-color: #888; }
                    html body #main_container #propose_date_main_border .section_container .section .section_body .content .content_block #message_box #message_box_lower #date_not_accepted {
                      font: 16px 'OxygenRegular', Arial, sans-serif; }
              html body #main_container #propose_date_main_border .section_container .section .section_body .content #message_block {
                padding: 0px; }
