@import "shared", "fonts", "header";

html {
  height:100%;

  body {
  margin:0;
  padding:0;
  font-size:0;
  height:100%;
  background-image:url('/bundles/qiissgeneral/images/Final-Homepage-background.gif');
  background-size: 100%;
  background-repeat:no-repeat;

    #main_container {
      display:block;
      text-align:center;
      margin-top:10px;
      padding-bottom:40px;

      #propose_date_main_border {
        display:inline-block;
        padding:10px;
        background:#CFD7E3;
        border:1px solid #aaa;
        font-size:0;
        @include corner(8px, 8px, 8px, 8px);

        #propose_date_main_header {
          font: 40px/48px 'Lobster13Regular', Arial, sans-proprif;letter-spacing: 0;
          background-color:#7AB2DE;
          border:1px solid #aaa;
          border-bottom:none;
          padding:10px;

        }

        #propose_date_main_left {
          background-color:#fff;
          display:inline-block;
          vertical-align: top;
          border:1px solid #aaa;
          border-right:none;

          #propose_date_profile_picture {
            width:190px;
            height:190px;
            border:1px solid #ccc;
            margin:10px;
            cursor:pointer;

            img {
              width:190px;
              height:190px;
            }
          } // #propose_date_profile_picture

          .section_header {
            background-color:#eee;
            color:#333;
            border-bottom:1px solid #aaa;
            padding:15px;
            font: 18px 'PatuaOneRegular', Arial, sans-serif;
          }
        } // #propose_date_main_left

        .propose_date_main_right {
          display:inline-block;

          .section_container {

            .header {
              background:#eee;
              border:1px solid #aaa;
              cursor:pointer;

              &:hover {
                background-color:#cecece;
              }

              &:active {
                background-color:#bbb;
              }

              .inner {
                display:inline-block;
                vertical-align:middle;
                text-align: center;
                padding:15px;
                font: 18px 'PatuaOneRegular', Arial, sans-serif;
                color:#333;
              }
            } // .header

            .section {
              font: 18px 'PatuaOneRegular', Arial, sans-serif;

              .section_body {
                font: 16px 'OxygenRegular', Arial, sans-serif;
                color:#444;
                text-align: right;

                form {

                  .content {
                    width:500px;

                    .content_header {
                      background:#f5f5f5;
                      border:1px solid #aaa;
                      border-top:none;
                      text-align: center;
                      padding:10px;
                      font: 18px 'PatuaOneRegular', Arial, sans-serif;
                      color:#333;
                      cursor:pointer;

                      &:hover {
                        background-color:#cecece;
                      }

                      &:active {
                        background-color:#bbb;
                      }
                    } // .content_header
                    .content_block {
                      position:relative;
                      background-color:#fff;
                      border:1px solid #aaa;
                      border-top:none;
                      text-align:center;
                      padding:20px;

                      .error_message {
                        width:0px;
                        overflow:hidden;
                        position:absolute;
                        white-space: nowrap;
                        right:240px;
                        z-index:1000;
                        background-color:#bf3030;
                        font: 18px 'PatuaOneRegular', Arial, sans-serif;
                        border:2px solid #bbb;
                        border-right:none;
                        padding: 8px;
                        color:#fff;
                        @include corner(3px, 0px, 0px, 3px);
                      }

                      input {
                        position:relative;
                        width:260px;
                        z-index:1001;
                        padding: 8px;
                        border: 2px solid #bbb;
                        font: 18px 'PatuaOneRegular', Arial, sans-serif;
                        color:#333;
                        @include corner(3px, 3px, 3px, 3px);
                        @include shadow(0px, 0px, 10px, 1px, #bbb);

                        &:focus {
                           outline-width: 0;
                           @include shadow(0px, 0px, 10px, 1px, #888);
                        }

                        &:-moz-placeholder{
                          color: #999;
                        }
                      } // input

                      textarea {
                        width:438px;
                        padding:8px;
                        resize:none;
                        overflow-y:auto;
                        border: 2px solid #bbb;
                        font: 18px 'PatuaOneRegular', Arial, sans-serif;
                        color:#333;
                        @include corner(3px, 3px, 3px, 3px);
                        @include shadow(0px, 0px, 10px, 1px, #bbb);

                        &:focus {
                           outline-width: 0;
                           @include shadow(0px, 0px, 10px, 1px, #888);
                        }
                      } // textarea

                      .date_time {

                        select {
                          -webkit-appearance: none;
                          padding:8px 10px;
                          border-color:#aaa;
                          cursor:pointer;
                          text-align: center;
                          @include corner(5px, 5px, 5px, 5px);
                          @include gradient(#eee, #ccc);

                          &:hover {
                            @include gradient(#ddd, #bbb);
                            border-color: #888;
                          }
                          &:active {
                            @include gradient(#ccc, #aaa);
                            border-color: #777;
                          }
                          &:focus {
                           outline-width: 0;
                          }
                        } // select
                      } // .date_time

                      .date_date {
                        display:none;
                      }

                      #calendar {
                        table {
                          margin:10px 0px 15px 0px;
                          table-layout:fixed;
                          border-collapse:collapse;
                          border-right:1px solid #999;
                          border-top:1px solid #999;

                          tbody {

                            tr {

                              td, th {
                                width:60px;
                                border-left:1px solid #999;
                                border-bottom:1px solid #999;
                                text-align:center;
                                padding:8px 12px;
                              }

                              th {
                                background:#7AB2DE;;
                                color:#333;
                                font: 16px 'PatuaOneRegular', Arial, sans-serif;
                              }

                              td {
                                cursor:pointer;
                                &:hover {
                                  background:#eee;
                                }
                                &:active {
                                  background:#ddd;
                                }
                              }

                              .other-month {
                                background:#eee;
                                &:hover {
                                  background:#ddd;
                                }
                                &:active {
                                  background:#ccc;
                                }
                              }
                            } // th
                          } // tbody
                        } // table
                      } // #calender
                    } // .content_block
                  } // .content
                  .content_submit {
                    .submit {
                      color:#eee;
                      border: 1px solid #999;
                      border-top:none;
                      padding:7px 15px;
                      font: 18px 'PatuaOneRegular', Arial, sans-serif;
                      display:inline-block;
                      vertical-align: middle;
                      cursor:pointer;
                      @include shadow(0px, 0px, 10px, 1px, #999);
                      @include corner(0px, 0px, 5px, 5px);
                      @include gradient(#777, #666);

                      &:hover {
                        @include gradient(#595959, #595959);
                        border-color: #888;
                      }
                      &:active {
                        @include gradient(#494949, #494949);
                        border-color: #777;
                      }
                    } // .submit
                  } // .content_submit
                } // form
              } // .section_body
            } // .section
          } // .section_container
        } // .propose_date_main_right
      } // #propose_date_main_border
    } // #main_container
  } // body
} // html