/*
Syntax error: Undefined mixin 'corner'.
        on line 6 of scss/canvas_post.scss, in `corner'
        from line 6 of scss/canvas_post.scss

1: .canvas_post {
2:   //display:none;
3:   font: 18px 'OxygenRegular', Arial, sans-serif;
4:   border:1px solid #ccc;
5:   margin-bottom:20px;
6:   @include corner(5px, 5px, 5px, 5px);
7: 
8:   .canvas_post_section {
9:     padding:10px;
10:   }
11: 

Backtrace:
scss/canvas_post.scss:6:in `corner'
scss/canvas_post.scss:6
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:249:in `visit_mixin'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:316:in `visit_rule'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/root_node.rb:20:in `render'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/engine.rb:315:in `_render'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/engine.rb:262:in `render'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:340:in `update_stylesheet'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:200:in `each'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:298:in `block in watch'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.5.2/lib/listen/multi_listener.rb:86:in `call'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.5.2/lib/listen/multi_listener.rb:86:in `on_change'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.5.2/lib/listen/multi_listener.rb:95:in `block in initialize_adapter'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.5.2/lib/listen/adapter.rb:196:in `call'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.5.2/lib/listen/adapter.rb:196:in `report_changes'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.5.2/lib/listen/adapter.rb:208:in `poll_changed_dirs'
/Users/bicnarker/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.5.2/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'corner'.\A         on line 6 of scss/canvas_post.scss, in `corner'\A         from line 6 of scss/canvas_post.scss\A \A 1: .canvas_post {\A 2:   //display:none;\A 3:   font: 18px 'OxygenRegular', Arial, sans-serif;\A 4:   border:1px solid #ccc;\A 5:   margin-bottom:20px;\A 6:   @include corner(5px, 5px, 5px, 5px);\A 7: \A 8:   .canvas_post_section {\A 9:     padding:10px;\A 10:   }\A 11: "; }
