#upper_top_banner {
  width: 100%;
  height: 50px;
  position: relative;
  background-color: #ddd;
  border-bottom: 2px solid #666;
  text-align: right;
  font-size: 0; }
  #upper_top_banner div {
    display: inline-block;
    vertical-align: middle;
    padding: 7px 7px; }
    #upper_top_banner div a {
      font: 18px 'PatuaOneRegular', Arial, sans-serif;
      color: #444;
      text-decoration: none;
      padding: 0px 10px; }
      #upper_top_banner div a:hover {
        color: #666; }
      #upper_top_banner div a:active, #upper_top_banner div a:focus {
        color: #888; }
  #upper_top_banner img {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    padding: 0px 4px; }
  #upper_top_banner #dates_icon img {
    height: 35px; }
  #upper_top_banner #messages_icon img {
    height: 20px; }
  #upper_top_banner #notifications_icon {
    margin-right: 5px; }
    #upper_top_banner #notifications_icon img {
      height: 25px; }
  #upper_top_banner #logout_div {
    position: absolute;
    bottom: -50px;
    right: 0px;
    font: 16px 'OxygenRegular', Arial, sans-serif; }
    #upper_top_banner #logout_div div {
      display: inline-block;
      vertical-align: middle; }
    #upper_top_banner #logout_div #logout_div_profile {
      color: #333; }
    #upper_top_banner #logout_div #logout_div_seperator {
      height: 25px;
      width: 0px;
      border-left: 1px solid #ddd;
      border-right: 1px solid #999;
      padding: 0; }
    #upper_top_banner #logout_div #logout_div_button a {
      font: 16px 'OxygenRegular', Arial, sans-serif;
      cursor: pointer;
      color: #aaa;
      padding: 0px; }
  #upper_top_banner .popup {
    position: absolute;
    z-index: 1000;
    display: none;
    top: 50px;
    width: 340px;
    background-color: #fff;
    border-right: 2px solid #666;
    border-bottom: 2px solid #666;
    border-left: 2px solid #666;
    border-top: 2px solid #bbb;
    padding: 0;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    -khtml-border-radius-topleft: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    -khtml-border-radius-topright: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -khtml-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -khtml-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px; }
    #upper_top_banner .popup .popup_header {
      display: block;
      text-align: left;
      background-color: #ddd;
      border-bottom: 1px solid #bbb;
      font: 16px 'OxygenRegular', Arial, sans-serif; }
    #upper_top_banner .popup .popup_content {
      height: 300px;
      overflow-y: scroll;
      padding: 0px;
      display: block; }
      #upper_top_banner .popup .popup_content .popup_item {
        display: block;
        text-align: left;
        padding: 5px;
        border-bottom: 1px solid #ccc;
        font: 14px 'OxygenRegular', Arial, sans-serif; }
        #upper_top_banner .popup .popup_content .popup_item div, #upper_top_banner .popup .popup_content .popup_item img {
          padding: 0;
          display: inline-block;
          vertical-align: middle; }
        #upper_top_banner .popup .popup_content .popup_item .popup_item_dp {
          margin-right: 10px; }
        #upper_top_banner .popup .popup_content .popup_item .popup_item_content div {
          display: block; }
        #upper_top_banner .popup .popup_content .popup_item .popup_item_content .popup_item_time {
          margin-top: 5px;
          color: #666;
          font-size: 12px; }
  #upper_top_banner #notifications_popup {
    right: 100px; }
  #upper_top_banner #messages_popup {
    right: 150px; }
  #upper_top_banner #dates_popup {
    right: 200px; }

#lower_top_nav {
  font-size: 0;
  position: relative;
  display: inline-block;
  vertical-align: top;
  background-color: #ddd;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  margin-left: -1px;
  text-align: center;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  -khtml-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  -khtml-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -khtml-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -khtml-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px; }
  #lower_top_nav a {
    color: #333; }
    #lower_top_nav a:visited {
      text-decoration: none;
      color: #333; }
    #lower_top_nav a div {
      font: 16px 'OxygenRegular', Arial, sans-serif;
      display: inline-block;
      padding: 10px;
      text-align: center;
      cursor: pointer;
      border: none;
      background-color: #DCE5F2;
      cursor: pointer; }
      #lower_top_nav a div:hover {
        background-color: #CFD7E3; }
      #lower_top_nav a div:active {
        background-color: #AFB5BD; }
      #lower_top_nav a div#nav_settings {
        -moz-border-radius-topleft: 0px;
        -webkit-border-top-left-radius: 0px;
        -khtml-border-radius-topleft: 0px;
        border-top-left-radius: 0px;
        -moz-border-radius-topright: 0px;
        -webkit-border-top-right-radius: 0px;
        -khtml-border-radius-topright: 0px;
        border-top-right-radius: 0px;
        -moz-border-radius-bottomright: 10px;
        -webkit-border-bottom-right-radius: 10px;
        -khtml-border-radius-bottomright: 10px;
        border-bottom-right-radius: 10px;
        -moz-border-radius-bottomleft: 0px;
        -webkit-border-bottom-left-radius: 0px;
        -khtml-border-radius-bottomleft: 0px;
        border-bottom-left-radius: 0px; }
      #lower_top_nav a div.selected {
        background-color: #F2F8FA;
        cursor: pointer; }
        #lower_top_nav a div.selected:hover {
          background-color: #C7E2EB; }
        #lower_top_nav a div.selected:active {
          background-color: #AFD4E0; }
      #lower_top_nav a div.left {
        border-left: 1px solid #999; }
      #lower_top_nav a div.left-shadow {
        -moz-box-shadow: inset 5px 0px 15px -5px #bbbbbb;
        -webkit-box-shadow: inset 5px 0px 15px -5px #bbbbbb;
        box-shadow: inset 5px 0px 15px -5px #bbbbbb; }
      #lower_top_nav a div.right {
        border-right: 1px solid #999; }
      #lower_top_nav a div.right-shadow {
        -moz-box-shadow: inset -5px 0px 15px -5px #bbbbbb;
        -webkit-box-shadow: inset -5px 0px 15px -5px #bbbbbb;
        box-shadow: inset -5px 0px 15px -5px #bbbbbb; }

#lower_top_banner {
  width: 225px;
  height: 70px;
  position: relative;
  display: inline-block;
  margin-left: 50px;
  margin-top: -2px;
  background-color: #ddd;
  border: 2px solid #666;
  border-top: none;
  text-align: center;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  -khtml-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  -khtml-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 30px;
  -webkit-border-bottom-right-radius: 30px;
  -khtml-border-radius-bottomright: 30px;
  border-bottom-right-radius: 30px;
  -moz-border-radius-bottomleft: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -khtml-border-radius-bottomleft: 30px;
  border-bottom-left-radius: 30px; }
  #lower_top_banner img {
    width: 90%;
    margin-top: -15%; }

@font-face {
  font-family: 'PatuaOneRegular';
  src: url("/bundles/qiissgeneral/fonts/PatuaOne-Regular-webfont.eot");
  src: url("/bundles/qiissgeneral/fonts/PatuaOne-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/bundles/qiissgeneral/fonts/PatuaOne-Regular-webfont.woff") format("woff"), url("/bundles/qiissgeneral/fonts/PatuaOne-Regular-webfont.ttf") format("truetype"), url("/bundles/qiissgeneral/fonts/PatuaOne-Regular-webfont.svg#PatuaOneRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OxygenRegular';
  src: url("/bundles/qiissgeneral/fonts/Oxygen-webfont.eot");
  src: url("/bundles/qiissgeneral/fonts/Oxygen-webfont.eot?#iefix") format("embedded-opentype"), url("/bundles/qiissgeneral/fonts/Oxygen-webfont.woff") format("woff"), url("/bundles/qiissgeneral/fonts/Oxygen-webfont.ttf") format("truetype"), url("/bundles/qiissgeneral/fonts/Oxygen-webfont.svg#OxygenRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  height: 100%; }
  html body {
    margin: 0;
    padding: 0;
    font-size: 0;
    height: 100%;
    background-image: url("/bundles/qiissgeneral/images/Final-Homepage-background.gif");
    background-size: 100%;
    background-repeat: no-repeat; }
    html body #main_container {
      display: block;
      text-align: center;
      margin-top: 10px; }
      html body #main_container .self_admin_main_border {
        display: inline-block;
        padding: 10px;
        background: #CFD7E3;
        border: 1px solid #aaa;
        font-size: 0;
        -moz-border-radius-topleft: 8px;
        -webkit-border-top-left-radius: 8px;
        -khtml-border-radius-topleft: 8px;
        border-top-left-radius: 8px;
        -moz-border-radius-topright: 8px;
        -webkit-border-top-right-radius: 8px;
        -khtml-border-radius-topright: 8px;
        border-top-right-radius: 8px;
        -moz-border-radius-bottomright: 8px;
        -webkit-border-bottom-right-radius: 8px;
        -khtml-border-radius-bottomright: 8px;
        border-bottom-right-radius: 8px;
        -moz-border-radius-bottomleft: 8px;
        -webkit-border-bottom-left-radius: 8px;
        -khtml-border-radius-bottomleft: 8px;
        border-bottom-left-radius: 8px; }
        html body #main_container .self_admin_main_border #self_admin_main_header {
          font: 35px 'PatuaOneRegular', Arial, sans-serif;
          background-color: #f5f5f5;
          border: 1px solid #aaa;
          border-bottom: none;
          padding: 10px; }
        html body #main_container .self_admin_main_border .self_admin_main_left {
          display: inline-block;
          vertical-align: top;
          border: 1px solid #aaa;
          border-right: none; }
          html body #main_container .self_admin_main_border .self_admin_main_left .section_header {
            background-color: #dedede;
            color: #333;
            border-bottom: 1px solid #aaa;
            padding: 15px;
            cursor: pointer;
            font: 18px 'PatuaOneRegular', Arial, sans-serif; }
            html body #main_container .self_admin_main_border .self_admin_main_left .section_header:hover {
              background-color: #cecece; }
            html body #main_container .self_admin_main_border .self_admin_main_left .section_header:active {
              background-color: #bbb; }
            html body #main_container .self_admin_main_border .self_admin_main_left .section_header.last {
              border-bottom: none; }
        html body #main_container .self_admin_main_border .self_admin_main_right {
          display: inline-block;
          border: 1px solid #aaa; }
          html body #main_container .self_admin_main_border .self_admin_main_right .section_container .header {
            background: #eee;
            border-bottom: 1px solid #aaa; }
            html body #main_container .self_admin_main_border .self_admin_main_right .section_container .header .inner {
              display: inline-block;
              vertical-align: middle;
              text-align: center;
              padding: 15px;
              font: 18px 'PatuaOneRegular', Arial, sans-serif;
              color: #333; }
          html body #main_container .self_admin_main_border .self_admin_main_right .section_container .section {
            font: 18px 'PatuaOneRegular', Arial, sans-serif; }
            html body #main_container .self_admin_main_border .self_admin_main_right .section_container .section .section_body {
              background: #f5f5f5;
              padding: 10px;
              font: 16px/20px "OxygenRegular", Arial, sans-serif;
              color: #444; }
              html body #main_container .self_admin_main_border .self_admin_main_right .section_container .section .section_body .seperator {
                display: block;
                height: 0px;
                border-top: 1px solid #fff;
                border-bottom: 1px solid #aaa; }
              html body #main_container .self_admin_main_border .self_admin_main_right .section_container .section .section_body input {
                display: block;
                padding: 5px;
                margin: 20px 40px;
                border: 2px solid #bbb;
                font: 18px/27px "PatuaOneRegular", Arial, sans-serif;
                color: #333;
                width: 250px;
                -moz-border-radius-topleft: 3px;
                -webkit-border-top-left-radius: 3px;
                -khtml-border-radius-topleft: 3px;
                border-top-left-radius: 3px;
                -moz-border-radius-topright: 3px;
                -webkit-border-top-right-radius: 3px;
                -khtml-border-radius-topright: 3px;
                border-top-right-radius: 3px;
                -moz-border-radius-bottomright: 3px;
                -webkit-border-bottom-right-radius: 3px;
                -khtml-border-radius-bottomright: 3px;
                border-bottom-right-radius: 3px;
                -moz-border-radius-bottomleft: 3px;
                -webkit-border-bottom-left-radius: 3px;
                -khtml-border-radius-bottomleft: 3px;
                border-bottom-left-radius: 3px;
                -moz-box-shadow: 0px 0px 10px 1px #bbbbbb;
                -webkit-box-shadow: 0px 0px 10px 1px #bbbbbb;
                box-shadow: 0px 0px 10px 1px #bbbbbb; }
                html body #main_container .self_admin_main_border .self_admin_main_right .section_container .section .section_body input:focus {
                  outline-width: 0;
                  -moz-box-shadow: 0px 0px 10px 1px #888888;
                  -webkit-box-shadow: 0px 0px 10px 1px #888888;
                  box-shadow: 0px 0px 10px 1px #888888; }
                html body #main_container .self_admin_main_border .self_admin_main_right .section_container .section .section_body input#current_password {
                  margin-top: 10px; }
                html body #main_container .self_admin_main_border .self_admin_main_right .section_container .section .section_body input#new_password_second {
                  margin-bottom: 15px; }
              html body #main_container .self_admin_main_border .self_admin_main_right .section_container .section .section_body div {
                text-align: right; }
                html body #main_container .self_admin_main_border .self_admin_main_right .section_container .section .section_body div .submit {
                  width: auto;
                  display: inline-block;
                  vertical-align: top;
                  color: #eee;
                  padding: 5px 10px;
                  border: 2px solid #999;
                  cursor: pointer;
                  margin: 0px;
                  margin-right: 40px;
                  -moz-box-shadow: 0px 0px 10px 1px #999999;
                  -webkit-box-shadow: 0px 0px 10px 1px #999999;
                  box-shadow: 0px 0px 10px 1px #999999;
                  -moz-border-radius-topleft: 5px;
                  -webkit-border-top-left-radius: 5px;
                  -khtml-border-radius-topleft: 5px;
                  border-top-left-radius: 5px;
                  -moz-border-radius-topright: 5px;
                  -webkit-border-top-right-radius: 5px;
                  -khtml-border-radius-topright: 5px;
                  border-top-right-radius: 5px;
                  -moz-border-radius-bottomright: 5px;
                  -webkit-border-bottom-right-radius: 5px;
                  -khtml-border-radius-bottomright: 5px;
                  border-bottom-right-radius: 5px;
                  -moz-border-radius-bottomleft: 5px;
                  -webkit-border-bottom-left-radius: 5px;
                  -khtml-border-radius-bottomleft: 5px;
                  border-bottom-left-radius: 5px;
                  background-color: #666666;
                  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=$from, endColorstr=$to);
                  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#777777, endColorstr=#666666)";
                  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#777777), to(#666666));
                  background-image: -webkit-linear-gradient(top, #777777, #666666);
                  background-image: -moz-linear-gradient(top, #777777, #666666);
                  background-image: -ms-linear-gradient(top, #777777, #666666);
                  background-image: -o-linear-gradient(top, #777777, #666666); }
                  html body #main_container .self_admin_main_border .self_admin_main_right .section_container .section .section_body div .submit:hover {
                    background-color: #595959;
                    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=$from, endColorstr=$to);
                    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#595959, endColorstr=#595959)";
                    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#595959), to(#595959));
                    background-image: -webkit-linear-gradient(top, #595959, #595959);
                    background-image: -moz-linear-gradient(top, #595959, #595959);
                    background-image: -ms-linear-gradient(top, #595959, #595959);
                    background-image: -o-linear-gradient(top, #595959, #595959);
                    border: 2px solid #888; }
                  html body #main_container .self_admin_main_border .self_admin_main_right .section_container .section .section_body div .submit:active {
                    background-color: #494949;
                    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=$from, endColorstr=$to);
                    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#494949, endColorstr=#494949)";
                    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#494949), to(#494949));
                    background-image: -webkit-linear-gradient(top, #494949, #494949);
                    background-image: -moz-linear-gradient(top, #494949, #494949);
                    background-image: -ms-linear-gradient(top, #494949, #494949);
                    background-image: -o-linear-gradient(top, #494949, #494949);
                    border: 2px solid #777; }
