<div id="upper_top_banner">
  <div><a href="{{ path('qiiss_general_faq') }}"><div id="faq">About Qiiss</div></a></div>
</div>
<div id="lower_top_banner">
  <a href="/home"><img src="{{ asset('bundles/qiissgeneral/images/qiiss-graphics/blue/Logo.png') }}" /></a>
</div>