<!DOCTYPE html>
<html>
<pre>
</pre>
<head>
	<meta charset="utf-8">
	<title>{% block title %}Qiiss - Settings{% endblock %}</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('bundles/qiissgeneral/css/resetPassword.css') }}" type="text/css" media="all" />
		{% endblock %}
			<script type="text/javascript" src="{{ asset('bundles/qiissgeneral/js/jquery-1.8.3.min.js') }}"></script>
			<script type="text/javascript" src="{{ asset('bundles/qiissuser/js/settings/selfAdmin.js') }}"></script>
			<script type="text/javascript" src="{{ asset('bundles/qiissuser/js/header.js') }}"></script>
</head>
<body>
{% include 'QiissGeneralBundle:Default:header.html.twig' %}
<div id="main_container">
	<div class="self_admin_main_border">
		<div id="self_admin_main_header">
			Forgot Password
		</div>
		<div class="self_admin_main">
			<div class="section_container">
				<div class="section">
					<div class="section_body">
						{% include 'QiissUserBundle:Resetting:request.html.twig' %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>