@font-face {
  font-family: 'PatuaOneRegular';
  src: url("/bundles/qiissgeneral/fonts/PatuaOne-Regular-webfont.eot");
  src: url("/bundles/qiissgeneral/fonts/PatuaOne-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/bundles/qiissgeneral/fonts/PatuaOne-Regular-webfont.woff") format("woff"), url("/bundles/qiissgeneral/fonts/PatuaOne-Regular-webfont.ttf") format("truetype"), url("/bundles/qiissgeneral/fonts/PatuaOne-Regular-webfont.svg#PatuaOneRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OxygenRegular';
  src: url("/bundles/qiissgeneral/fonts/Oxygen-webfont.eot");
  src: url("/bundles/qiissgeneral/fonts/Oxygen-webfont.eot?#iefix") format("embedded-opentype"), url("/bundles/qiissgeneral/fonts/Oxygen-webfont.woff") format("woff"), url("/bundles/qiissgeneral/fonts/Oxygen-webfont.ttf") format("truetype"), url("/bundles/qiissgeneral/fonts/Oxygen-webfont.svg#OxygenRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  height: 100%; }
  html a {
    color: #000;
    text-decoration: none; }
    html a:active {
      color: #000; }
    html a:visited {
      color: #000; }
    html a:hover {
      color: #000; }
  html body {
    margin: 0;
    padding: 0;
    font-size: 0;
    height: 100%;
    background-image: url("/bundles/qiissgeneral/images/Final-Homepage-background.gif");
    background-size: 100%;
    background-repeat: no-repeat; }
    html body #main_container {
      padding: 0px 15px 20px 40px;
      font-size: 16px;
      text-align: center; }
      html body #main_container #search_param_container_outer {
        padding: 5px;
        border: 1px solid #aaa;
        display: inline-block;
        background-color: #eee;
        -moz-border-radius-topleft: 5px;
        -webkit-border-top-left-radius: 5px;
        -khtml-border-radius-topleft: 5px;
        border-top-left-radius: 5px;
        -moz-border-radius-topright: 5px;
        -webkit-border-top-right-radius: 5px;
        -khtml-border-radius-topright: 5px;
        border-top-right-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -khtml-border-radius-bottomright: 5px;
        border-bottom-right-radius: 5px;
        -moz-border-radius-bottomleft: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -khtml-border-radius-bottomleft: 5px;
        border-bottom-left-radius: 5px; }
        html body #main_container #search_param_container_outer #search_param_container_inner {
          width: 698px;
          border: 1px solid #aaa;
          background-color: #fff;
          display: inline-block;
          text-align: left; }
          html body #main_container #search_param_container_outer #search_param_container_inner #search_param_header {
            padding: 7px;
            display: block;
            border-bottom: 1px solid #aaa;
            background-color: #7AB2DE;
            font: 20px 'PatuaOneRegular', Arial, sans-serif;
            text-align: center;
            cursor: pointer; }
            html body #main_container #search_param_container_outer #search_param_container_inner #search_param_header:hover {
              background-color: #6D9CC2; }
            html body #main_container #search_param_container_outer #search_param_container_inner #search_param_header:active {
              background-color: #5D84A3; }
          html body #main_container #search_param_container_outer #search_param_container_inner .search_param_section_header {
            padding: 10px;
            font: 16px 'PatuaOneRegular', Arial, sans-serif;
            border-bottom: 1px solid #ccc;
            background-color: #F2F8FA;
            cursor: pointer; }
            html body #main_container #search_param_container_outer #search_param_container_inner .search_param_section_header:hover {
              background-color: #DFE6E8; }
            html body #main_container #search_param_container_outer #search_param_container_inner .search_param_section_header:active {
              background-color: #D3D9DB; }
          html body #main_container #search_param_container_outer #search_param_container_inner .search_param_section_body {
            padding: 10px 10px 0px 10px;
            display: block;
            border-bottom: 1px solid #ccc; }
            html body #main_container #search_param_container_outer #search_param_container_inner .search_param_section_body .search_param_field_block {
              display: block;
              margin-bottom: 10px; }
              html body #main_container #search_param_container_outer #search_param_container_inner .search_param_section_body .search_param_field_block.lower {
                margin-top: 30px; }
              html body #main_container #search_param_container_outer #search_param_container_inner .search_param_section_body .search_param_field_block .search_param_field_outer {
                display: inline-block;
                position: relative;
                font: 16px 'OxygenRegular', Arial, sans-serif; }
                html body #main_container #search_param_container_outer #search_param_container_inner .search_param_section_body .search_param_field_block .search_param_field_outer .search_param_label {
                  position: absolute;
                  z-index: 1;
                  left: 2px;
                  height: 20px;
                  line-height: 20px;
                  top: 0px;
                  padding: 5px;
                  border: 2px solid #ccc;
                  border-bottom: none;
                  background-color: #BF3030;
                  -moz-border-radius-topleft: 5px;
                  -webkit-border-top-left-radius: 5px;
                  -khtml-border-radius-topleft: 5px;
                  border-top-left-radius: 5px;
                  -moz-border-radius-topright: 5px;
                  -webkit-border-top-right-radius: 5px;
                  -khtml-border-radius-topright: 5px;
                  border-top-right-radius: 5px;
                  -moz-border-radius-bottomright: 0px;
                  -webkit-border-bottom-right-radius: 0px;
                  -khtml-border-radius-bottomright: 0px;
                  border-bottom-right-radius: 0px;
                  -moz-border-radius-bottomleft: 0px;
                  -webkit-border-bottom-left-radius: 0px;
                  -khtml-border-radius-bottomleft: 0px;
                  border-bottom-left-radius: 0px; }
                html body #main_container #search_param_container_outer #search_param_container_inner .search_param_section_body .search_param_field_block .search_param_field_outer .search_param_field {
                  position: relative;
                  z-index: 2;
                  display: inline-block;
                  padding: 8px;
                  margin: 0px 10px 0px 0px;
                  border: 2px solid #ccc;
                  font-size: 18px;
                  -moz-border-radius-topleft: 0px;
                  -webkit-border-top-left-radius: 0px;
                  -khtml-border-radius-topleft: 0px;
                  border-top-left-radius: 0px;
                  -moz-border-radius-topright: 5px;
                  -webkit-border-top-right-radius: 5px;
                  -khtml-border-radius-topright: 5px;
                  border-top-right-radius: 5px;
                  -moz-border-radius-bottomright: 5px;
                  -webkit-border-bottom-right-radius: 5px;
                  -khtml-border-radius-bottomright: 5px;
                  border-bottom-right-radius: 5px;
                  -moz-border-radius-bottomleft: 5px;
                  -webkit-border-bottom-left-radius: 5px;
                  -khtml-border-radius-bottomleft: 5px;
                  border-bottom-left-radius: 5px; }
                  html body #main_container #search_param_container_outer #search_param_container_inner .search_param_section_body .search_param_field_block .search_param_field_outer .search_param_field:focus {
                    outline-width: 0px; }
          html body #main_container #search_param_container_outer #search_param_container_inner #search_param_submit_outer {
            text-align: right;
            padding: 0px 19px 10px 0px; }
            html body #main_container #search_param_container_outer #search_param_container_inner #search_param_submit_outer #search_param_submit_inner {
              display: inline-block;
              vertical-align: middle;
              font-size: 18px;
              padding: 6px 14px;
              border: 1px solid #ccc;
              background-color: #7AB2DE;
              padding: 5px 18px;
              cursor: pointer;
              font: 16px 'OxygenRegular', Arial, sans-serif;
              -moz-border-radius-topleft: 5px;
              -webkit-border-top-left-radius: 5px;
              -khtml-border-radius-topleft: 5px;
              border-top-left-radius: 5px;
              -moz-border-radius-topright: 5px;
              -webkit-border-top-right-radius: 5px;
              -khtml-border-radius-topright: 5px;
              border-top-right-radius: 5px;
              -moz-border-radius-bottomright: 5px;
              -webkit-border-bottom-right-radius: 5px;
              -khtml-border-radius-bottomright: 5px;
              border-bottom-right-radius: 5px;
              -moz-border-radius-bottomleft: 5px;
              -webkit-border-bottom-left-radius: 5px;
              -khtml-border-radius-bottomleft: 5px;
              border-bottom-left-radius: 5px; }
              html body #main_container #search_param_container_outer #search_param_container_inner #search_param_submit_outer #search_param_submit_inner:hover {
                background-color: #6697BD; }
              html body #main_container #search_param_container_outer #search_param_container_inner #search_param_submit_outer #search_param_submit_inner:active {
                background-color: #407BA8; }
    html body .dropdown {
      position: absolute;
      height: 191px;
      width: 276px;
      overflow: auto;
      background: #fff;
      border: 2px solid #ccc;
      font: 16px 'PatuaOneRegular', Arial, sans-serif;
      z-index: 1003;
      margin: 0;
      -moz-border-radius-topleft: 0px;
      -webkit-border-top-left-radius: 0px;
      -khtml-border-radius-topleft: 0px;
      border-top-left-radius: 0px;
      -moz-border-radius-topright: 0px;
      -webkit-border-top-right-radius: 0px;
      -khtml-border-radius-topright: 0px;
      border-top-right-radius: 0px;
      -moz-border-radius-bottomright: 5px;
      -webkit-border-bottom-right-radius: 5px;
      -khtml-border-radius-bottomright: 5px;
      border-bottom-right-radius: 5px;
      -moz-border-radius-bottomleft: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -khtml-border-radius-bottomleft: 5px;
      border-bottom-left-radius: 5px; }
      html body .dropdown .ajax_loader_div {
        position: absolute;
        width: 100%;
        top: 20px;
        text-align: center; }
      html body .dropdown ul {
        list-style-type: none;
        margin: 0;
        padding: 0; }
        html body .dropdown ul li {
          cursor: pointer;
          padding: 8px;
          border-bottom: 1px solid #bbb; }
          html body .dropdown ul li div {
            display: inline-block;
            margin-right: 5px; }
          html body .dropdown ul li .predict_name_one {
            margin-right: 0px; }
          html body .dropdown ul li:hover {
            background: #7AB2DE;
            color: #333; }
